version: "3"
services:
  chatpad:
    image: chatpad:latest
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ${FAVICON}:/usr/share/nginx/html/favicon.2a2e97fc.png
      - ${LOGO_DARK}:/usr/share/nginx/html/logo-dark.905b8ba8.svg
      - ${LOGO_LIGHT}:/usr/share/nginx/html/logo-light.d0f5791d.svg
      - ${LOGO_MINIMAL_DARK}:/usr/share/nginx/html/logo-minimal-dark.888703f1.svg
      - ${LOGO_MINIMAL_LIGHT}:/usr/share/nginx/html/logo-minimal-light.da7fe65e.svg